{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur ShopLite !{% endblock %}

{% block body %}
    <div>
        <div>
            <a href="{{ url('app_login') }}">Connectez-vous</a>
        </div>
        <div>
            <a href="">Inscrivez-vous</a>
        </div>
    </div>
{% endblock %}
