{% extends 'base.html.twig' %}

{% block title %}Bienvenue {{ app.user.username }} !{% endblock %}

{% block body %}

<div>
    <h1>Produits qui pourraient vous plaire</h1>

    <div style="display: flex; flex-wrap: wrap; justify-content: space-evenly;">
        {% for product in randomProducts %}
            <div>
                <h2>{{ product.name }}</h2>
                <img src="{{ product.image }}" alt="{{ product.name }}" width="500">
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
